body {
  margin: 0%;
  background-color: #b52ff7 ;
  width: 100%;
     
}

.toolBar {
  background-color: #ad14fa;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  width: 100%;
  
}

.faviconico {
  margin: 0%;
  border: none;
  padding: 5px;
  margin: 2px;
}

.inicioButton {
  color: aliceblue;
  font-style: oblique;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: none;
  margin: 5px;

}

.aboutme {
  color: aliceblue;
  font-style: oblique;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: none;
  margin: 5px;
}

.contactme {
  color: aliceblue;
  font-style: oblique;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: none;
  margin: 5px;

}

.top-img {
  border-top: 2px black;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  border-style: solid;
  margin: 0px;
}

.hello {
  background-color: #b52ff7;
  margin: 0px;
  border: none;
  padding-top: 20px;
  padding-bottom: 150px;
  text-align: center;
  width: 100%;
  
}

.aboutimg {
  width: 100%;
}

.txtabout {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;
}

.table {
  width: 100%;
  border-color: black;
  border-style: solid;
}

thead {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  width: 100%;
}

tbody {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.contactmesection {
  background-color: hsl(280, 100%, 56%);
  margin: 0px;
  padding-top: 100px;
  width: 100%;
}

.submit {
  text-align: center;
}

.contact {
  text-align: center;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.example {
  font-family: 'Courier New', Courier, monospace;

}

textarea {
  padding: 10px;
  border-style: inset;
  border-radius: 20px;

}

.input {
  border-style: inset;
  border-radius: 20px;
}

.blackarea {
  background-color: black;
  height: 10px;
  width: 100%;
}